<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">-->
<!--<properties/>-->

<Configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encode>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg %n</pattern>
        </encode>
    </appender>

    <logger name="praticeLesson.javacourse" level="debug"/>
    <logger name="praticeLesson.javacourse2" level="error"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</Configuration>



<!--<project xmlns="http://maven.apache.org/POM/4.0.0"-->
<!--         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http:/maven.apache"/>-->
<!--<modelVersion>4.0.0</modelVersion>-->

<!--<groupId>practiceLesson.javacourse</groupId>-->
<!--<artifactId>javacourse</artifactId>-->
<!--<version>1.0-SNAPSHOT</version>-->

<!--<dependencies>-->
<!--<dependency>-->
<!--    <groupId>org.slf4j</groupId>-->
<!--    <artifactId>slf4j-api</artifactId>-->
<!--    <version>1.7.5</version>-->
<!--</dependency>-->

<!--<dependency>-->
<!--    <groupId>ch.qos.logback</groupId>-->
<!--    <artifactId>logback-core</artifactId>-->
<!--    <version>1.0.13</version>-->
<!--</dependency>-->

<!--<dependecy>-->
<!--    <groupId>ch.qos.logback</groupId>-->
<!--    <artifactId>logback-classic</artifactId>-->
<!--    <version>1.0.13</version>-->
<!--</dependecy>-->

<!--</dependencies>-->
